<!-- Localization completed -->
<div ng-controller="DevicesTabController" style="position: relative">
  <sarsha-spinner name="spinner2">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </sarsha-spinner>

  <form class="form-horizontal">
    <div class="form-group" ng-show="errorMessage">
      <div class="error"><span>{{errorMessage}}</span></div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 margin-bottom">
        <select
          class="form-control"
          ng-model="selection.groupId"
          ng-change="initSearch()"
          ng-options="group.id as group.name for group in groups"
        ></select>
      </div>
      <div class="col-sm-4 margin-bottom">
        <select
          class="form-control"
          ng-model="selection.configurationId"
          ng-change="initSearch()"
          ng-options="config.id as config.name for config in configurations"
        ></select>
      </div>
      <div class="col-sm-3 margin-bottom">
        <h5
          class="pointer collapse-control"
          ng-if="!additionalParams.enabled"
          style="display: inline"
          ng-click="toggleAdditionalParams()"
          localized
        >
          More parameters
        </h5>
        <h5
          class="pointer collapse-control"
          ng-if="additionalParams.enabled"
          style="display: inline"
          ng-click="toggleAdditionalParams()"
          localized
        >
          Less parameters
        </h5>
        <span
          class="pointer glyphicon"
          ng-class="{'glyphicon-chevron-down': !additionalParams.enabled, 'glyphicon-chevron-up': additionalParams.enabled}"
          ng-click="toggleAdditionalParams()"
        >
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="additionalParams.enabled">
      <div class="col-sm-1 margin-bottom" style="margin-top: 5px">
        <span localized>Enrollment date</span>
      </div>
      <div class="col-sm-2 margin-bottom">
        <div class="min-padding date-picker date-picker-input">
          <input
            class="form-control"
            datepicker-popup="{{dateFormat}}"
            placeholder="From ..."
            ng-enter="initSearch()"
            ng-model="additionalParams.dateFrom"
            is-open="openDatePickers.dateFrom"
            show-button-bar="false"
            datepicker-options="datePickerOptions"
          />
        </div>
        <div class="min-padding date-picker date-picker-button">
          <button
            type="button"
            class="btn btn-default"
            ng-click="openDateCalendar( $event, true )"
          >
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </div>
      </div>
      <div class="col-sm-2 margin-bottom">
        <div class="min-padding date-picker date-picker-input">
          <input
            class="form-control"
            datepicker-popup="{{dateFormat}}"
            placeholder="To ..."
            ng-enter="initSearch()"
            ng-model="additionalParams.dateTo"
            is-open="openDatePickers.dateTo"
            show-button-bar="false"
            datepicker-options="datePickerOptions"
          />
        </div>
        <div class="min-padding date-picker date-picker-button">
          <button
            type="button"
            class="btn btn-default"
            ng-click="openDateCalendar( $event, false )"
          >
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </div>
      </div>

      <div class="col-sm-2 margin-bottom" style="margin-top: 5px">
        <input
          type="checkbox"
          id="addParamsImeiChanged"
          ng-model="additionalParams.imeiChanged"
        />
        <span localized>IMEI recently changed</span>
      </div>

      <div class="col-sm-2 margin-bottom">
        <select
          class="form-control"
          id="kweiufwieu"
          ng-model="additionalParams.installationStatus"
          ng-options="opt.id as opt.name for opt in installStatusOptions"
        >
          <option value="" localized>
            Installation status ...
        </option>
        </select>
      </div>

      <div class="col-sm-3 text-right margin-bottom">
        <input
          type="text"
          ng-enter="initSearch()"
          ng-model="additionalParams.launcherVersion"
          placeholder="Launcher Version"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group" ng-if="additionalParams.enabled">
      <div class="col-sm-1 margin-bottom">
        <select
          class="form-control"
          id="onlineOrOffline"
          ng-model="additionalParams.onlineOrOffline"
        >
          <option value="" localized>Status ...</option>
          <option value="1" localized>Online</option>
          <option value="2" localized>Offline</option>
        </select>
      </div>
      <div class="col-sm-2 margin-bottom">
        <select
          class="form-control"
          id="onlineTimeSelect"
          ng-model="additionalParams.onlineTimeSelect"
        >
          <option value="15" localized>
            15 minutes
        </option>
          <option value="30" localized>
            30 minutes
        </option>
          <option value="60" localized>
            1 hour
        </option>
          <option value="120" localized>
            2 hours
        </option>
          <option value="360" localized>
            6 hours
        </option>
          <option value="1440" localized>
            1 day
        </option>
          <option value="2880" localized>
            2 days
        </option>
          <option value="4320" localized>
            3 days
        </option>
          <option value="10080" localized>
            1 week
        </option>
          <option value="43200" localized>
            1 month
        </option>
          <option value="1" localized>
            Enter time
        </option>
        </select>
      </div>
      <div
        class="col-sm-1 margin-bottom"
        ng-if="additionalParams.onlineTimeSelect == 1"
      >
        <input
          type="number"
          ng-enter="initSearch()"
          ng-model="additionalParams.onlineTimeEnter"
          placeholder="Enter a number"
          class="form-control"
        />
      </div>
      <div
        class="col-sm-1 margin-bottom"
        style="margin-top: 5px"
        ng-if="additionalParams.onlineTimeSelect == 1"
      >
        <span localized>minute(s)</span>
      </div>
      <div
        class="col-sm-2 margin-bottom"
        ng-if="additionalParams.onlineTimeSelect != 1"
      >
        &nbsp;
      </div>

      <div class="col-sm-2 margin-bottom">
        <select
          class="form-control"
          id="mdmMode"
          ng-model="additionalParams.mdmMode"
        >
          <option value="" localized>MDM mode</option>
          <option value="1" localized>Yes</option>
          <option value="0" localized>No</option>
        </select>
      </div>

      <div class="col-sm-2 margin-bottom">
        <select
          class="form-control"
          id="kioskMode"
          ng-model="additionalParams.kioskMode"
        >
          <option value="" localized>Kiosk mode</option>
          <option value="1" localized>Yes</option>
          <option value="0" localized>No</option>
        </select>
      </div>

      <div class="col-sm-3 margin-bottom">
        <input
          type="text"
          ng-enter="initSearch()"
          ng-model="additionalParams.androidVersion"
          placeholder="Android version"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 margin-bottom">
        <input
          type="text"
          ng-model="searchParams.searchValue"
          ng-enter="initSearch()"
          placeholder="Search for a device"
          class="form-control"
        />
      </div>

      <div class="col-sm-7 text-right margin-bottom">
        <button
          type="button"
          class="btn btn-default"
          style="float: left"
          ng-click="initSearch()"
          localized
        >
          Search
        </button>

        <input
          type="checkbox"
          ng-model="searchParams.fastSearch"
          style="float: left; margin: 10px 10px 10px 30px"
        />
        <span style="float: left; margin: 7px 0 0 0" localized>Fast search by number</span
        >

        <div
          class="btn-group dropdown"
          uib-dropdown
          ng-if="hasPermission('edit_devices')"
        >
          <button
            id="group-actions-button"
            type="button"
            class="btn btn-default dropdown-toggle"
            uib-dropdown-toggle
            ng-disabled="isNotSelected()"
            localized
          >
            Group action
          </button>
          <ul
            class="dropdown-menu dropdown-menu-devices"
            uib-dropdown-menu
            role="menu"
          >
            <li role="menuitem">
              <a ng-click="openBulkUpdateModal()" localized>Set configuration</a
              >
              <a ng-click="openBulkGroupModal()" localized>Set group</a>
              <a ng-click="confirmBulkDelete()" localized>Delete</a>
            </li>
          </ul>
        </div>
        <button
          type="button"
          ng-if="hasPermission('edit_devices')"
          ng-disabled="commonSettings.deviceLimit > 0 && commonSettings.deviceCount >= commonSettings.deviceLimit"
          class="btn btn-default"
          ng-click="editDevice( {} )"
          localized
        >
          Add
        </button>
      </div>
    </div>
  </form>

  <div class="custom-pagination-wrapper">
    <div class="custom-pagination" ng-if="paging.totalItems > 0">
      <div class="pagination-label">
        <span>{{firstRecord()}}</span>-<span>{{lastRecord()}}</span>/<span
          >{{paging.totalItems}}</span
        >
      </div>

      <pagination
        ng-if="paging.totalItems > paging.pageSize && !accountExpired"
        boundary-links="true"
        class="pagination-sm"
        max-size="3"
        ng-model="paging.pageNum"
        total-items="paging.totalItems"
        items-per-page="paging.pageSize"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
      ></pagination>
    </div>
  </div>

  <table ng-if="devices && devices.length > 0" class="table">
    <thead>
      <tr>
        <th ng-if="hasPermission('edit_devices')">
          <input
            ng-model="selection.all"
            ng-change="selectAll()"
            type="checkbox"
            class="pointer"
          />
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceStatus"
          ng-click="sortData('STATUS')"
          class="pointer"
        >
          <span localized>Status</span>
          <span
            ng-if='paging.sortBy === "STATUS"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceDate"
          ng-click="sortData('LAST_UPDATE')"
          class="pointer"
        >
          <span localized>Date</span>
          <span
            ng-if='paging.sortBy === "LAST_UPDATE"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceNumber"
          ng-click="sortData('NUMBER')"
          class="pointer"
        >
          <span localized>Device Number</span>
          <span
            ng-if='paging.sortBy === "NUMBER"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceImei"
          ng-click="sortData('IMEI')"
          class="pointer"
        >
          <span localized>IMEI</span>
          <span
            ng-if='paging.sortBy === "IMEI"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDevicePhone"
          ng-click="sortData('PHONE')"
          class="pointer"
        >
          <span localized>Phone Number</span>
          <span
            ng-if='paging.sortBy === "PHONE"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceModel"
          ng-click="sortData('MODEL')"
          class="pointer"
        >
          <span localized>Phone Model</span>
          <span
            ng-if='paging.sortBy === "MODEL"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDevicePermissionsStatus"
          ng-click="sortData('PERMISSIONS')"
          class="pointer"
        >
          <span localized>Permission Status</span>
          <span
            ng-if='paging.sortBy === "PERMISSIONS"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceAppInstallStatus"
          ng-click="sortData('INSTALLATIONS')"
          class="pointer"
        >
          <span localized>Installation Status</span>
          <span
            ng-if='paging.sortBy === "INSTALLATIONS"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceFilesStatus"
          ng-click="sortData('FILES')"
          class="pointer"
        >
          <span localized>Files status</span>
          <span
            ng-if='paging.sortBy === "FILES"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceConfiguration"
          ng-click="sortData('CONFIGURATION')"
          class="pointer"
        >
          <span localized>Configuration</span>
          <span
            ng-if='paging.sortBy === "CONFIGURATION"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceDesc"
          ng-click="sortData('DESCRIPTION')"
          class="pointer"
        >
          <span localized>Description</span>
          <span
            ng-if='paging.sortBy === "DESCRIPTION"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDeviceGroup"
          ng-click="sortData('GROUP')"
          class="pointer"
        >
          <span localized>Group</span>
          <span
            ng-if='paging.sortBy === "GROUP"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedLauncherVersion"
          ng-click="sortData('LAUNCHER_VERSION')"
          class="pointer"
        >
          <span localized>Launcher version</span>
          <span
            ng-if='paging.sortBy === "LAUNCHER_VERSION"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedBatteryLevel"
          ng-click="sortData('BATTERY_LEVEL')"
          class="pointer"
        >
          <span localized>Battery level</span>
          <span
            ng-if='paging.sortBy === "BATTERY_LEVEL"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedDefaultLauncher"
          ng-click="sortData('DEFAULT_LAUNCHER')"
          class="pointer"
        >
          <span localized>Background mode</span>
          <span
            ng-if='paging.sortBy === "DEFAULT_LAUNCHER"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedMdmMode"
          ng-click="sortData('MDM_MODE')"
          class="pointer"
        >
          <span localized>MDM mode</span>
          <span
            ng-if='paging.sortBy === "MDM_MODE"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedKioskMode"
          ng-click="sortData('KIOSK_MODE')"
          class="pointer"
        >
          <span localized>Kiosk mode</span>
          <span
            ng-if='paging.sortBy === "KIOSK_MODE"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedAndroidVersion"
          ng-click="sortData('ANDROID_VERSION')"
          class="pointer"
        >
          <span localized>Android version</span>
          <span
            ng-if='paging.sortBy === "ANDROID_VERSION"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedEnrollmentDate"
          ng-click="sortData('ENROLLMENT_DATE')"
          class="pointer"
        >
          <span localized>Enrolled</span>
          <span
            ng-if='paging.sortBy === "ENROLLMENT_DATE"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedSerial"
          ng-click="sortData('SERIAL')"
          class="pointer"
        >
          <span localized>Serial number</span>
          <span
            ng-if='paging.sortBy === "SERIAL"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedPublicIp"
          ng-click="sortData('PUBLICIP')"
          class="pointer"
        >
          <span localized>IP address</span>
          <span
            ng-if='paging.sortBy === "PUBLICIP"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedCustom1 && commonSettings.customPropertyName1"
          ng-click="sortData('CUSTOM1')"
          class="pointer"
        >
          <span>{{commonSettings.customPropertyName1}}</span>
          <span
            ng-if='paging.sortBy === "CUSTOM1"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedCustom2 && commonSettings.customPropertyName2"
          ng-click="sortData('CUSTOM2')"
          class="pointer"
        >
          <span>{{commonSettings.customPropertyName2}}</span>
          <span
            ng-if='paging.sortBy === "CUSTOM2"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>
        <th
          ng-if="settings.columnDisplayedCustom3 && commonSettings.customPropertyName3"
          ng-click="sortData('CUSTOM3')"
          class="pointer"
        >
          <span>{{commonSettings.customPropertyName3}}</span>
          <span
            ng-if='paging.sortBy === "CUSTOM3"'
            class="glyphicon"
            ng-class="{'glyphicon-sort-by-alphabet': paging.sortAsc, 'glyphicon-sort-by-alphabet-alt': !paging.sortAsc}"
          ></span>
        </th>

        <th
          ng-if="hasPermission('edit_devices')"
          class="actions-column"
          localized
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <!--<tr ng-repeat='device in devices | limitTo:paging.pageSize:paging.pageSize * (paging.currentPage - 1)'>-->
      <tr ng-repeat="device in devices" class="{{device.class}}">
        <td ng-if="hasPermission('edit_devices')">
          <input ng-model="device.selected" type="checkbox" class="pointer" />
        </td>
        <td ng-if="settings.columnDisplayedDeviceStatus">
          <img
            class="device-indicator"
            ng-src="{{getDeviceIndicatorImage(device)}}"
            title="{{calculateStatusText(device)}}"
          />
        </td>
        <td
          ng-if="(device.lastUpdateDate > 0) && settings.columnDisplayedDeviceDate"
        >
          {{device.lastUpdateDate|date:dateFormat}}
        </td>
        <td
          ng-if="(device.lastUpdateDate <= 0 || !device.lastUpdateDate) && settings.columnDisplayedDeviceDate"
          localized
        >
          unknown
        </td>
        <td ng-if="settings.columnDisplayedDeviceNumber">
          <span>{{device.number}}</span>
        </td>
        <td ng-if="settings.columnDisplayedDeviceImei">
          <span
            title="{{device.imeiTooltip}}"
            class="{{device.imeiTooltipClass}}"
            >{{device.displayedIMEI}}</span
          >
        </td>
        <td ng-if="settings.columnDisplayedDevicePhone">
          <span
            title="{{device.phoneTooltip}}"
            class="{{device.phoneTooltipClass}}"
            >{{device.displayedPhone}}</span
          >
        </td>
        <td ng-if="settings.columnDisplayedDeviceModel">
          <span>{{getDeviceModel(device)}}</span>
        </td>
        <td ng-if="settings.columnDisplayedDevicePermissionsStatus">
          <img
            class="device-indicator"
            ng-src="{{getDevicePermissionIndicatorImage(device)}}"
            title="{{getDevicePermissionTitle(device)}}"
          />
        </td>
        <td ng-if="settings.columnDisplayedDeviceAppInstallStatus">
          <img
            class="device-indicator"
            ng-src="{{getDeviceApplicationsIndicatorImage(device)}}"
            title="{{getDeviceApplicationsTitle(device)}}"
          />
        </td>
        <td ng-if="settings.columnDisplayedDeviceFilesStatus">
          <img
            class="device-indicator"
            ng-src="{{getDeviceFilesIndicatorImage(device)}}"
            title="{{getDeviceFilesTitle(device)}}"
          />
        </td>
        <td
          ng-if="settings.columnDisplayedDeviceConfiguration && hasPermission('configurations') && configAvailable(device.configuration)"
        >
          <a
            class="action-link"
            ng-click="editConfiguration(device.configuration)"
            >{{device.configuration.name}}</a
          >
        </td>
        <td
          ng-if="settings.columnDisplayedDeviceConfiguration && (!hasPermission('configurations') || !configAvailable(device.configuration))"
        >
          {{device.configuration.name}}
        </td>
        <td ng-if="settings.columnDisplayedDeviceDesc">
          <span ng-bind-html="formatMultiLine(device.description)"></span>
        </td>
        <td ng-if="settings.columnDisplayedDeviceGroup">
          <span ng-repeat="group in device.groups">{{group.name}}<br /></span>
        </td>
        <td ng-if="settings.columnDisplayedLauncherVersion">
          <span ng-style="{color: getDeviceLauncherVersionColor(device)}"
            >{{getDeviceLauncherVersion(device)}}</span
          >
        </td>
        <td ng-if="settings.columnDisplayedBatteryLevel">
          <span>{{getDeviceBatteryLevel(device)}}</span>
        </td>
        <td ng-if="settings.columnDisplayedDefaultLauncher">
          <span>{{isBackgroundMode(device)}}</span>
        </td>
        <td ng-if="settings.columnDisplayedMdmMode">
          <span
            ng-class="{'device-data-mismatch': device.info.mdmMode === false}"
            >{{getIsMdmMode(device)}}</span
          >
        </td>
        <td ng-if="settings.columnDisplayedKioskMode">
          <span>{{isKioskMode(device)}}</span>
        </td>
        <td ng-if="settings.columnDisplayedAndroidVersion">
          {{getAndroidVersion(device)}}
        </td>
        <td
          ng-if="(device.enrollTime > 0) && settings.columnDisplayedEnrollmentDate"
        >
          {{device.enrollTime|date:dateFormat}}
        </td>
        <td
          ng-if="(device.enrollTime <= 0 || !device.enrollTime) && settings.columnDisplayedEnrollmentDate"
          localized
        >
          unknown
        </td>
        <td ng-if="settings.columnDisplayedSerial">
          <span>{{getSerial(device)}}</span>
        </td>
        <td ng-if="settings.columnDisplayedPublicIp">
          <span>{{device.publicIp}}</span>
        </td>
        <td
          ng-if="settings.columnDisplayedCustom1 && commonSettings.customPropertyName1"
        >
          <span>{{device.custom1}}</span>
        </td>
        <td
          ng-if="settings.columnDisplayedCustom2 && commonSettings.customPropertyName2"
        >
          <span>{{device.custom2}}</span>
        </td>
        <td
          ng-if="settings.columnDisplayedCustom3 && commonSettings.customPropertyName3"
        >
          <span>{{device.custom3}}</span>
        </td>

        <td class="deviceActions">
          <button
            type="button"
            class="btn btn-default"
            ng-click="editDevice( device )"
            title="Edit"
            ng-if="hasPermission('edit_devices') || hasPermission('edit_device_desc')"
          >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button
            type="button"
            class="btn btn-default"
            title="QR code"
            ng-if="hasPermission('enroll_devices')"
            ng-disabled="device.configuration.qrCodeKey == null"
            data-hint-key="hint.step.1"
            ng-click="showQrCode(device)"
          >
            <span class="glyphicon glyphicon-qrcode"></span>
          </button>
          <button
            type="button"
            class="btn btn-default"
            ng-click="removeDevice( device )"
            title="Delete"
            ng-if="hasPermission('edit_devices')"
          >
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <span
            class="btn-group dropdown"
            uib-dropdown
            ng-if="plugins && plugins.length > 0 || hasPermission('edit_device_app_settings')"
          >
            <button
              id="single-button-{{device.id}}"
              uib-dropdown-toggle
              type="button"
              title="More ..."
              class="btn btn-default dropdown-toggle"
            >
              <span class="glyphicon glyphicon-option-horizontal"></span>
              <span style="padding-bottom: 3px" class="caret"></span>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-devices"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="single-button-{{device.id}}"
            >
              <li
                role="menuitem"
                ng-if="hasPermission('edit_device_app_settings')"
              >
                <a ng-click="manageApplicationSettings(device)" localized>Application settings</a
                >
              </li>
              <li role="menuitem">
                <a ng-click="viewCallLogs(device)" localized>View Call Logs</a
                >
              </li>
              <li role="menuitem">
                <a ng-click="viewSmsLogs(device)" localized>View SMS Logs</a
                >
              </li>
              <li role="menuitem">
                <a ng-click="resetPassword(device)" localized>Reset Password</a>
              </li>
              <li
                role="menuitem"
                ng-repeat="plugin in plugins"
                ng-if="plugins && plugins.length > 0"
              >
                <a ng-click="notifyPluginOnDevice(plugin, device)"
                  >{{plugin.nameLocalizationKey | localize}}</a
                >
              </li>
            </ul>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-if="!devices" class="center" localized>Loading device list ...</div>

  <div ng-if="devices && devices.length === 0" class="center" localized>
    There are no devices to display.
        </div>

  <div class="custom-pagination-wrapper">
    <div class="custom-pagination" ng-if="paging.totalItems > 0">
      <div class="pagination-label">
        <span>{{firstRecord()}}</span>-<span>{{lastRecord()}}</span>/<span
          >{{paging.totalItems}}</span
        >
      </div>

      <pagination
        ng-if="paging.totalItems > paging.pageSize && !accountExpired"
        boundary-links="true"
        class="pagination-sm"
        max-size="3"
        ng-model="paging.pageNum"
        total-items="paging.totalItems"
        items-per-page="paging.pageSize"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
      ></pagination>
    </div>
  </div>
</div>
