<div class="auth-shell auth-shell-reset">
    <div class="auth-background"></div>
    <div class="auth-orb auth-orb-1"></div>
    <div class="auth-orb auth-orb-2"></div>

    <div class='auth-card panel panel-default login' ng-class='{"panel-danger": errorMessage, "panel-success": successMessage}'>
        <div class='auth-message panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
        <div class='auth-message success panel-heading' ng-if='successMessage'>{{successMessage}}</div>

        <div class='panel-body auth-body' ng-if="linkValid">
            <form name='passwordResetForm'>
                <div class='form-group'>
                    <div class="auth-title" localized>form.password.reset.title</div>
                    <div class="auth-subtitle">Create a stronger password to continue securely</div>
                </div>
                <div class='form-group'>
                    <label for='newPassword' localized>form.profile.password.new</label>
                    <input type='password' class='form-control auth-input' id='newPassword'
                           ng-model='reset.newPassword' localized-placeholder='form.profile.password.new.placeholder'
                           required/>
                </div>
                <div class='form-group'>
                    <label for='confirmPassword' localized>form.profile.password.confirm</label>
                    <input type='password' class='form-control auth-input' id='confirmPassword'
                           ng-model='reset.confirmPassword' localized-placeholder='form.profile.password.confirm.placeholder'
                           required/>
                    <div class="field-hint auth-hint">{{qualityMessage}}</div>
                </div>
                <button type='submit' class='btn btn-default auth-submit' ng-click='resetPassword()'
                        localized>form.password.reset.submit</button>
            </form>
        </div>
    </div>
</div>