<!-- Localization completed -->
<div class='profile'>
    <form class='form-horizontal'>

        <div class='form-group change-title'>
            <label class='col-sm-3 control-label'>&nbsp;</label>
            <div class='col-sm-9'><h3 localized>Updates</h3></div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3 control-label'>&nbsp;</label>
            <div ng-show='errorMessage' class='col-sm-9 error' style="text-align: left"><span>{{errorMessage}}</span></div>
            <div ng-show='completeMessage' class='col-sm-9 success' style="text-align: left"><span>{{completeMessage}}</span>
                <img ng-if="isUpdating || isChecking" style="margin-left: 15px" src='images/loading.gif'/></div>
        </div>

        <div ng-if="!isChecking">

            <div class='form-group bold'>
                <div class="col-sm-3" localized>Application</div>
                <div class="col-sm-3" localized>Current version</div>
                <div class="col-sm-3" localized>Available version</div>
                <div class="col-sm-3" localized>Downloaded</div>
            </div>

            <div class='form-group' ng-repeat="app in updates">
                <div class="col-sm-3">{{app.name}}</div>
                <div class="col-sm-3" ng-if="!app.updateDisabled && !app.outdated">{{app.currentVersion}}</div>
                <div class="col-sm-3 warning-font" ng-if="!app.updateDisabled && app.outdated">{{app.currentVersion}}</div>
                <div class="col-sm-3" ng-if="!app.updateDisabled">{{app.version}}</div>
                <div class="col-sm-3" ng-if="!app.updateDisabled"><span class="glyphicon glyphicon-ok" ng-if="app.downloaded"></span></div>
                <div class="col-sm-9 warning-font" ng-if="app.updateDisabled">{{app.updateDisableReasonLocalized}}</div>
            </div>

            <p>&nbsp;</p>

            <div class='form-group'>
                <div class='col-sm-1'>
                    <input id="c1" ng-model='updateForm.update' type='checkbox' class='form-control'/>
                </div>
                <div class='col-sm-11' style="padding-top: 10px" localized>Automatically update mobile apps (use with care in production!)</div>
            </div>

            <div class='form-group'>
                <div class='col-sm-1'>
                    <input id="c2" ng-model='updateForm.sendStats' type='checkbox' class='form-control'/>
                </div>
                <div class='col-sm-11' style="padding-top: 10px" localized>Send usage statistics to the service provider to improve system performance</div>
            </div>

            <div class='form-group'>
                <span class="field-hint" localized>To complete the web app update, run the shell script "/opt/hmdm/update-web-app.sh" in the SSH console</span>
            </div>

            <p>&nbsp;</p>

            <div class='form-group'>
                <div class='col-sm-offset-2 col-sm-10'>
                    <button type='submit' class='btn btn-default' ng-disabled="isUpdating || isError" ng-click='getUpdates()' localized>Get updates</button>
                </div>
            </div>

        </div>
    </form>
</div>