<!-- Localization completed -->
<div class='content-wrapper fullscreen'>
    <tabset class='tabset'>
        <tab>

            <tab-heading localized>Organizations</tab-heading>

            <div ng-controller='CustomersTabController'>
                <div class='form-group'>
                    <input type='text'
                           ng-enter='newSearch()'
                           ng-model='paging.searchValue'
                           ng-change="newSearch()"
                           localized-placeholder='search.placeholder.customer'
                           class='form-control configurations-search-input'>

                    <div class='configurations-search-buttons'>
                        <button type='button' class='btn btn-default' ng-click='editCustomer( {} )' localized>Add</button>
                    </div>
                </div>

                <div class='form-group'>
                    <div class="col-sm-3 margin-bottom">
                        <select class='form-control'
                                ng-model='paging.accountType'
                                ng-change='newSearch()'>
                            <option value="" selected localized>All types</option>
                            <option value="0" localized>Demo</option>
                            <option value="1" localized>Professional</option>
                            <option value="2" localized>Enterprise</option>
                        </select>
                    </div>
                    <div class="col-sm-3 margin-bottom">
                        <select class='form-control'
                                ng-model='paging.customerStatus'
                                ng-change='newSearch()'>
                            <option value="" selected localized>All statuses</option>
                            <option value="customer.new" localized>New</option>
                            <option value="customer.active" localized>Active</option>
                            <option value="customer.need.followup" localized>Need follow-up</option>
                            <option value="customer.followup.sent" localized>Follow-up sent</option>
                            <option value="customer.internal.test" localized>Internal test</option>
                            <option value="customer.developer" localized>Developer</option>
                            <option value="customer.difficult" localized>Difficult</option>
                            <option value="customer.inactive" localized>No sign-in</option>
                            <option value="customer.pause" localized>Pause</option>
                            <option value="customer.abandon" localized>Abandon</option>
                            <option value="customer.denial" localized>Denial</option>
                            <option value="customer.onpremise" localized>On-premise trial</option>
                            <option value="customer.client" localized>Client</option>
                        </select>
                    </div>
                </div>

                <div class="text-center" ng-if="paging.totalItems > paging.pageSize">
                    <pagination
                            boundary-links='true' class='pagination-sm'
                            max-size='3'
                            ng-model='paging.currentPage'
                            total-items='paging.totalItems'
                            items-per-page='paging.pageSize'
                            previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                            last-text='&raquo;'></pagination>
                </div>

                <table ng-if='customers && customers.length > 0' class='table'>
                    <thead>
                    <tr>
                        <th localized>Name</th>
                        <th localized class="col-sm-4">table.heading.customer.desc</th>
                        <th ng-click="sortByRegistrationTime()" class="sortable">
                            <span localized>Registered</span>
                            <span ng-if='paging.sortValue === "registrationTime" && paging.sortDirection === "asc"'
                                  class="glyphicon glyphicon-sort-by-order"></span>
                            <span ng-if='paging.sortValue === "registrationTime" && paging.sortDirection === "desc"'
                                  class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </th>
                        <th ng-click="sortByLastLoginTime()" class="sortable">
                            <span localized>Last login</span>
                            <span ng-if='paging.sortValue === "lastLoginTime" && paging.sortDirection === "asc"'
                                  class="glyphicon glyphicon-sort-by-order"></span>
                            <span ng-if='paging.sortValue === "lastLoginTime" && paging.sortDirection === "desc"'
                                  class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </th>
                        <th localized>Type</th>
                        <th ng-click="sortByExpiryTime()" class="sortable">
                            <span localized>Expires</span>
                            <span ng-if='paging.sortValue === "expiryTime" && paging.sortDirection === "asc"'
                                  class="glyphicon glyphicon-sort-by-order"></span>
                            <span ng-if='paging.sortValue === "expiryTime" && paging.sortDirection === "desc"'
                                  class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </th>
                        <th localized>Limit</th>
                        <th localized>Status</th>
                        <th class='actions-column' style="min-width: 200px" localized>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='customer in customers'>
                        <td>{{customer.name}}</td>
                        <td>{{customer.description}}</td>
                        <td>{{customer.registrationTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{customer.lastLoginTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{accountType(customer.accountType)}}</td>
                        <td ng-class="{'warning-font': customer.expiryTime && customer.expiryTime < now}">{{customer.expiryTime | date:'dd/MM/yyyy'}}</td>
                        <td>{{customer.deviceLimit}}</td>
                        <td class="{{customerClass(customer.customerStatus)}}">{{localization.localize(customer.customerStatus)}}</td>
                        <td>
                            <div>
                                <button type='button' class='btn btn-default' title="Edit"
                                        ng-click='editCustomer( customer )'>
                                    <span class='glyphicon glyphicon-pencil'></span>
                                </button>
                                <button type='button' class='btn btn-default' title="Change password"
                                        ng-click='changePassword( customer )'>
                                    <span class='glyphicon glyphicon-ice-lolly'></span>
                                </button>
                                <button type='button' title="Delete"
                                        class='btn btn-default' ng-click='removeCustomer( customer )'>
                                    <span class='glyphicon glyphicon-trash'></span>
                                </button>
                                <button type='button' class='btn btn-default' title="Login"
                                        ng-click='loginAs( customer )'>
                                    <span class='glyphicon glyphicon-copy'></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div ng-if='customers && customers.length == 0' class='center' localized>Organizations not found.</div>

                <div class="text-center" ng-if="paging.totalItems > paging.pageSize">
                    <pagination
                            boundary-links='true' class='pagination-sm'
                            max-size='3'
                            ng-model='paging.currentPage'
                            total-items='paging.totalItems'
                            items-per-page='paging.pageSize'
                            previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                            last-text='&raquo;'></pagination>
                </div>

            </div>
        </tab>

        <tab>

            <tab-heading localized>Shared Applications</tab-heading>

            <div ng-controller='ControlPanelApplicationsTabController'>
                <div class='form-group'>
                    <input type='text'
                           ng-model='search.searchValue'
                           ng-enter='search()'
                           ng-change='search()'
                           localized-placeholder='search.placeholder.application'
                           class='form-control application-search-input'>

                    <div class='device-search-buttons'>
                        <button type='button' class='btn btn-default' ng-click='editApplication( {} )' localized>Add</button>
                    </div>
                </div>

                <div class="text-center" ng-if="applications.length > paging.pageSize">
                    <pagination
                            boundary-links='true' class='pagination-sm'
                            max-size='3'
                            ng-model='paging.currentPage'
                            total-items='applications.length'
                            items-per-page='paging.pageSize'
                            previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                            last-text='&raquo;'></pagination>
                </div>

                <table ng-if='applications && applications.length > 0' class='table'>
                    <thead>
                    <tr>
                        <th localized>Organization</th>
                        <th localized>Package ID</th>
                        <th localized>Application Name</th>
                        <th localized>Version</th>
                        <th localized>URL</th>
                        <th localized>Icon</th>
                        <th class='actions-column' localized>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='application in applications.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))'>
                        <td ng-if="application.commonApplication">&nbsp;</td>
                        <td ng-if="!application.commonApplication">{{application.customerName}}</td>
                        <td>{{application.pkg}}</td>
                        <td>{{application.name}}</td>
                        <td>{{application.version}}</td>
                        <td>{{application.url}}</td>
                        <td>{{application.showIcon ? '✓' : ''}}</td>

                        <td>
                            <div>
                                <button ng-if="application.commonApplication" title="Edit Shared Application"
                                        type='button' class='btn btn-default' ng-click='editApplication( application )'>
                                    <span class='glyphicon glyphicon-pencil'></span>
                                </button>
                                <button ng-if="application.commonApplication" title="Delete Shared Application"
                                        type='button' class='btn btn-default' ng-click='removeApplication( application )'>
                                    <span class='glyphicon glyphicon-trash'></span>
                                </button>
                                <button ng-if="!application.commonApplication" title="Make Common"
                                        type='button' class='btn btn-default' ng-click='turnIntoCommonApplication( application )'>
                                    <span class='glyphicon glyphicon-share'></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div ng-if='applications && applications.length === 0' class='center' localized>There are no applications to display.</div>

                <div class="text-center" ng-if="applications.length > paging.pageSize">
                    <pagination
                            boundary-links='true' class='pagination-sm'
                            max-size='3'
                            ng-model='paging.currentPage'
                            total-items='applications.length'
                            items-per-page='paging.pageSize'
                            previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                            last-text='&raquo;'></pagination>
                </div>
            </div>
        </tab>
    </tabset>
</div>